:root {
    --primary: #FFBE34 !important;
    --secondary: #091242 !important;
    --light-gray: #F4F4F4;
    --heading-font: #1C1F35;
    --pararaph-font: #666C89;
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
}

body.loaded #preloader {
    display: none;
  }
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #loader {
    width: 60px;
    height: 60px;
    border: 6px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--secondary);
    background-image:url(../imgs/top.png);
    background-size: 50%;
  background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .back-to-top.show {
    opacity: 1;
    visibility: visible;
  }
  
  .back-to-top:hover {
    background-color: #999;
  }
  

.container {
    max-width: 1000px !important;
}

.secondary-navbar .navbar {
    background-color: var(--secondary) !important;
}

.navbar-toggler {
    background-color: white;
}
.secondary-navbar .collapse {
    padding-left: 100px;
}

.nav-logo img {
    width: 189px;
    margin: 25px 25px 25px 0;
}

.nav-s-li ul {
    display: flex;
}

.nav-s-li ul li img {
    width: 50px;
    margin-right: 15px;
}

.nav-s-li ul p {
    color: white;
    font-size: small;
}

.nav-s-li ul li a {
    text-decoration: none;
}

.nav-s-li ul li a:hover p {
    color: var(--primary);
}

.primary-navbar .navbar {

    background: rgba(9, 18, 66, 0.25) !important;
    padding: 0;
}

.nav-link-b span{
    border-right: 1px solid var(--pararaph-font);
    padding-right: 15px;
}
.collapse a:hover{
    border-bottom: 1px solid var(--pararaph-font);
}
.nav-link-bb span{
    border-right: 1px solid var(--pararaph-font);
    border-left: 1px solid var(--pararaph-font);
    padding-right: 15px;
    padding-left: 15px;
}
.dropdown-item{
    color: black !important;
}

.nav-input{
    height: 50px;
}
.nav-input::placeholder{
    color: black;
    font-weight: 600;
    padding-left: 33px;
}

.nav-item a {
    color: white;
}

.nav-link {
    color: white !important;
}
.nav-social{
    padding-left: 200px;
}

.hero-img {
    position: relative;
    height: 600px;
    background-image: url(../imgs/hero-img.svg);
    background-attachment: fixed;
}
.hero-text-header{
    width: 225px;
    height: 30px;
    background-color: rgba(1, 2, 8, 0.5);
}
.hero-text-header p{
    color: white;
    padding: 2px 10px;
    font-size: 15px;
    border-left: 3px solid var(--primary);
}
.hero-text h1{
    color: white;
}
.hero-text p{
    color: white;
}
.hero-text{
    padding-top: 125px;
}

.hero-btn a button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 15px 25px;
    font-weight: bolder;
    transition: background-color 0.5s ease-in-out;
  }
  
  .hero-btn a button:hover {
    background-color: white;
    color: black;
  }
.hero-btn a button div{
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 0;
}

.hero-footer-mainul {
    justify-content: space-between;
}
.hero-footer-mainul p{
    color: var(--pararaph-font);
}
.hero-footer-mainul  ul{
    padding: 0;
}
.mainul-header{
    width: 120px;
    height: 30px;
    background-color: rgba(189, 196, 235, 0.5);
}

.h-mid-ul-text2{
    margin-left: 20px;
}
.mainul-header p{
    color: black;
    padding: 2px 10px;
    font-weight: bold;
    border-left: 3px solid var(--primary);
}

.hero-footer-mainul li h3{
    font-weight: bold;
}
.hero-footer-mainul h4{
    font-size: 22px;
}
.h-mid-ul li div {
    border-left: 1px solid rgb(166, 179, 192);
    padding-left: 10px;
}
.h-mid-ul-img1 img{
    padding: 0 38px;
}
.h-right-ul li div {
    border-left: 1px solid black;
    padding-left: 10px;
}
.h-right-ul-img1 img{
    padding: 0 33px;
}
.h-right-ul li div {
    border-left: 1px solid rgb(166, 179, 192);
    padding-left: 10px;
}
.h-right-ul-img2 img{
    padding: 0 30px;
}

.p-banner-topimg img {
    position: absolute;
    width: 100%;
    height: 400px;
}

.p-banner-body {
    position: relative;
    height: 400px;
    background-color: white;
    top: 300px;
}

.p-banner-body-wrapper {
    padding: 40px 10px 40px 70px;
}
.p-banner-body-wrapper ul{
    padding: 0;
}

.banner-mainul-header{
    width: 87px;
    height: 30px;
    background-color: rgba(189, 196, 235, 0.5);
}
.banner-mainul-header p{
    color: black;
    padding: 2px 10px;
    font-weight: bold;
    border-left: 3px solid var(--primary);
}

.p-banner-main-img {
    width: 300px;
    height: 260px;
    margin-top: 50px;
}
.banner-icons{
    align-items: center;
    margin: 10px 0;
}
.banner-icons h5{
    padding-left: 15px;
}
.p-banner-secondart-img {
    position: relative;
    left: 100px;
    bottom: 33px;
    border: 20px solid white;
}

.p-banner-footer {
    margin-top: 400px;
    justify-content: space-between;
}
.p-banner-footer-wrapper {
    padding: 10px 120px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgray;
}
.p-banner-footer-wrapper ul {
    padding-top: 20px;
}
.p-banner-footer-wrapper h3 {
    font-weight: 700;
}
.banner-mainul{
    border-right: 1px solid lightgrey;
    padding-right: 106px;
}
.banner-footer-icon{
    width: 15px;
}

.p-banner-footer-wrapper {
    justify-content: space-between;
}


.transporting-wrapper{
    width: 100%;
    height: 250px;
    margin-top: 200px;
    background-color: var(--primary);
}
.transporting-header{
    padding-left: 31%;
}

.col-md-2 {
    width: 19.666667%;
}
.transporting-cards{
    position: relative;
    bottom: 150px;
}
.t-card-text{
    padding: 167px 0 0 10px;
}
.t-card-text h5{
    color: white;
    font-size: 15px;
    margin: 0;
}
.t-card-text p{
    color: var(--primary);
}
.transporting-cards:hover .t-card-text h5{
    color: var(--primary);
}
.transporting-cards:hover .t-card-text p{
    color: white;
}
.transporting-btn a button {
    background-color: var(--secondary);
    color: white;
    border: none;
    padding: 12px 28px;
    position: relative;
    bottom: 80px;
    left: 42%;
    transition: background-color 0.5s ease-in-out;
  }
  
  .transporting-btn a button:hover {
    background-color: white;
    color: black;
  }


.opportunity-wrapper{
    margin-top: 50px;
    width: 50%;
    height: 500px;
    background-color: var(--secondary);
    
}
.opportunity-main-img{
    width: 500px;
    height: 290px;
    margin-top: 120px;
    margin-left: 200px;
}
.opportunity-main-img-logo{
    width: 200px;
    position: relative;
    left: 345px;
    bottom: 67px;
}
.opportunity-wrapper ul li{
    list-style-type: none;
}
.opportunity-text{
    width: 350px;
}
.opportunity-text h3{
    font-weight: bold;
}
.opportunity-textul{
    padding: 90px 30px;
}
.opportunity-textul img{
    width: 50px;
    height: 50px;
}
.opportunity-left-icons p{
    font-size: 11px;
    font-weight: 500;
}
.opportunity-right-icons p{
    font-size: 11px;
    font-weight: 500;
}

.team-header{
    margin: 10px 0 42px 36%;
}
.team-header-titel{
    width: 152px;
    height: 30px;
    background-color: rgba(189, 196, 235, 0.5);
}
.team-header-titel{
    margin: 0 0 5px 50px;
}
.team-header-titel p{
    color: black;
    padding: 2px 10px;
    font-weight: bold;
    border-left: 3px solid var(--primary);
}

.team-card-body{
    background-color: var(--secondary);
}
.team-card-body h2 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 25px;
}
.team-card-body p{
    color: white;
    font-size: 15px;
}
.team-icons{
    width: 155px;
    height: 40px;
    position: relative;
    left: 130px;
    bottom: 37px;
    background-color: var(--primary);
}
.team-icons ul{
    justify-content: space-between;
}



.getinfo-wrapper{
    background-color: var(--secondary);
    height: 800px;
}
.getinfo-text-wrapper{
    padding-top: 70px;
    justify-content: space-between;
}
.info-text{
    width: 300px;
}
.info-text h5{
    color: white;
}
.info-text h4{
    color: white;
}
.info-text p{
    color: white;
}
.info-text ul li{
    list-style-type: none;
}
.info-icons img{
    width: 50px;
}
.info-icons p{
    font-size: 12px;
}
.info-icons li a{
    text-decoration: none;
    color: white;
}

.info-form{
    width: 650px;
}
.info-form input{
    width: 260px;
    margin-right: 20px;
}
.info-input::placeholder{
    color: white;
    font-weight: 400;
    padding-left: 33px;
}

.info-form li{
    list-style-type: none;
}
.info-form input{
    background-color: transparent;
    border: 1px solid white;
}
.msg-input{
    width: 538px !important;
    height: 150px;
}
.msg-input::placeholder{
    color: white;
    font-weight: 400;
    padding-left: 33px;
}
.info-imgs li{
    list-style-type: none;
}
.info-imgs img{
    width: 227px;
    height: 191px;
}




.news-header{
    width: 100px;
    height: 30px;
    background-color: rgba(189, 196, 235, 0.5);
}
.news-header{
    margin: 0 0 5px 65px;
}
.news-header p{
    color: black;
    padding: 2px 10px;
    font-weight: bold;
    border-left: 3px solid var(--primary);
}
.news-1{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.news-1 ul{
    padding: 0;
}
.news-text{
    border-left: 1px solid black;
}
.news-text:hover h5{
    color: var(--primary);
}
.news-1 li{
    list-style-type: none;
}
.news-main-img{
    padding: 50px 20px;
}
.news-date-img{
    padding: 50px 10px;
}
.news-text{
    margin: 50px 10px;
    padding-left: 25px !important;
}
.news-info{
    margin-left: 23px;
}
.news-info li{
    list-style-type: disc !important;
}
.news-2 li{
    list-style-type: none;
}
.news-3 li{
    list-style-type: none;
}

.news-2 ul{
    padding: 0;
}
.news-2{
    border-bottom: 1px solid black;
}


.news-3 ul{
    padding: 0;
}
.news-3{
    border-bottom: 1px solid black;
}









.footer-img img{
    width: 100%;
}
.footer-text{
    height: 400px;
    background-color: var(--secondary);
}
.footer-heading{
    height: 60px;
    background-color: rgba(91, 104, 175, 0.25) !important;
}
.footer-heading img{
    width: 230px;
}

.footer-main-ul{
    width: 233px;
    padding: 0;
    margin: 0 !important;
}

.footer-info{
    border-bottom: 1px solid white;
}
.footer-text-ul{
    margin: 0 60px;
    position: relative;
    bottom: 44px;
}
.footer-text-ul a{
    color: white;
}
.footer-info li p{
    color: white;
    font-size: 12px;
}
.footer-info li h5{
    color: white;
    margin-bottom: 44px;
}
.footer-input-ul{
    margin: 0 60px;
    position: relative;
    bottom: 44px;
}
.footer-input::placeholder{
    color: white;
    font-weight: 400;
    padding:10px 0 10px 20px;
    background-color: var(--secondary);
}
















/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .navbar-nav{
        display: none !important;
       }
       .hero-text {
        margin-left: 60px;
    }
    .hero-text-header {
        margin-bottom: 25px;
    }
    .hero-text p {
        margin-bottom: 33px;
    }
    .p-banner-topimg img {
        width: 99%;
    }
    .hero-footer-mainul{
        display: block !important;
    }
    .h-mid-ul{
        margin-top: 20px;
    }
    .h-right-ul-img1 img {
        padding: 0 35px;
    }
    .h-right-ul-img2 img {
        padding: 0 32px;
    }
    .p-banner-body-wrapper ul {
        padding: 0;
        display: block !important;
    }
    .p-banner-main-img {
        display: none;
    }
    .p-banner-footer-wrapper {
        padding: 10px 0px;
    }
    .banner-mainul {
        padding-right: 40px;
    }
    .mt-1 {
        font-size: 14px;
    }
    .transporting-header {
        padding-left: 18%;
    }
    .card-img-top {
        width: 105px;
        height: 274px;
        padding-top: 61px;
    }
    .transporting-btn a button {
        left: 34%;
    }
    .transporting-wrapper {
       
        height: 300px;
    }
    .opportunity-mainul{
        display: block !important;
    }
    .opportunity-textul{
        display: flex;
    }
    .team{
        margin-top: 425px;
    }
    .opportunity-left-icons{
        margin-left: 40px;
    
    }
    .opportunity-main-img {
        width: 478px;
        margin-left: -10px;
    }
    .opportunity-main-img-logo {
        left: 131px;
    }
    .team-card img{
        width: 100%;
    }
    .card-img-top{
        height: 306px;
    }
    .team-card{
        width: 260px;
        height: 438px;
        margin-left: 156px;
        margin-bottom: 20px;
    }
    .team-icons {
        left: 81px;
    }
    .team-header-titel {
        margin: 0 0 5px 29px;
    }
    .team-header {
        margin: 10px 0 42px 33%;
    }
    
    .getinfo-wrapper {
        height: 937px;
    }
    .getinfo-text-wrapper {
        display: block !important;
    }
    .info-text {
        width: 402px;
    }
    .info-form input {
        width: 232px;
    }
    .msg-input {
        width: 485px !important;
    }
    .info-imgs{
        margin: 30px 0;
    }
    .info-imgs img {
        width: 120px;
        height: 123px;
    }
    .team-header {
        margin: 10px 0 42px 25%;
    }
    .news-main-img {
        padding: 133px 20px;
        width: 233px;
    }
    .news-date-img {
        padding: 133px 10px;
    }
    .f-main-ul{
        display: block !important;
    }
    .footer-text {
        height: 1023px;
    }
    .team-card img{
    width: 100%;
}
.card-img-top{
    height: 306px;
}
.team-card{
    width: 260px;
    height: 438px;
    margin-left: 156px;
    margin-bottom: 20px;
}
.team-icons {
    left: 81px;
}
.team-header-titel {
    margin: 0 0 5px 29px;
}
.team-header {
    margin: 10px 0 42px 33%;
}

.getinfo-wrapper {
    height: 937px;
}
.getinfo-text-wrapper {
    display: block !important;
}
.info-text {
    width: 402px;
}
.info-form input {
    width: 232px;
}
.msg-input {
    width: 485px !important;
}
.info-imgs{
    margin: 30px 0;
}
.info-imgs img {
    width: 120px;
    height: 123px;
}
.team-header {
    margin: 10px 0 42px 25%;
}
.news-main-img {
    padding: 133px 20px;
    width: 233px;
}
.news-date-img {
    padding: 133px 10px;
}
.f-main-ul{
    display: block !important;
}
.footer-text {
    height: 1023px;
}.team-card img{
    width: 100%;
}
.card-img-top{
    height: 306px;
}
.team-card{
    width: 260px;
    height: 438px;
    margin-left: 156px;
    margin-bottom: 20px;
}
.team-icons {
    left: 81px;
}
.team-header-titel {
    margin: 0 0 5px 29px;
}
.team-header {
    margin: 10px 0 42px 33%;
}

.getinfo-wrapper {
    height: 937px;
}
.getinfo-text-wrapper {
    display: block !important;
}
.info-text {
    width: 402px;
}
.info-form input {
    width: 232px;
}
.msg-input {
    width: 485px !important;
}
.info-imgs{
    margin: 30px 0;
}
.info-imgs img {
    width: 120px;
    height: 123px;
}
.team-header {
    margin: 10px 0 42px 25%;
}
.news-main-img {
    padding: 133px 20px;
    width: 233px;
}
.news-date-img {
    padding: 133px 10px;
}
.f-main-ul{
    display: block !important;
}
.footer-text {
    height: 1023px;
}.team-card img{
    width: 100%;
}
.card-img-top{
    height: 306px;
}
.team-card{
    width: 260px;
    height: 438px;
    margin-left: 156px;
    margin-bottom: 20px;
}
.team-icons {
    left: 81px;
}
.team-header-titel {
    margin: 0 0 5px 29px;
}
.team-header {
    margin: 10px 0 42px 33%;
}

.getinfo-wrapper {
    height: 937px;
}
.getinfo-text-wrapper {
    display: block !important;
}
.info-text {
    width: 402px;
}
.info-form input {
    width: 232px;
}
.msg-input {
    width: 485px !important;
}
.info-imgs{
    margin: 30px 0;
}
.info-imgs img {
    width: 120px;
    height: 123px;
}
.team-header {
    margin: 10px 0 42px 25%;
}
.news-main-img {
    padding: 133px 20px;
    width: 233px;
}
.news-date-img {
    padding: 133px 10px;
}
.f-main-ul{
    display: block !important;
}
.footer-text {
    height: 1023px;
}
}





@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  
  
  

  


/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
   .navbar-nav{
    display: none !important;
   }
   .hero-text {
    margin-left: 60px;
}
.hero-text-header {
    margin-bottom: 25px;
}
.hero-text p {
    margin-bottom: 33px;
}
.p-banner-topimg img {
    width: 99%;
}
.hero-footer-mainul{
    display: block !important;
}
.h-mid-ul{
    margin-top: 20px;
}
.h-right-ul-img1 img {
    padding: 0 35px;
}
.h-right-ul-img2 img {
    padding: 0 32px;
}
.p-banner-body-wrapper ul {
    padding: 0;
    display: block !important;
}
.p-banner-main-img {
    display: none;
}
.p-banner-footer-wrapper {
    padding: 10px 0px;
}
.banner-mainul {
    padding-right: 40px;
}
.mt-1 {
    font-size: 14px;
}
.transporting-header {
    padding-left: 18%;
}
.card-img-top {
    width: 105px;
    height: 274px;
    padding-top: 61px;
}
.transporting-btn a button {
    left: 34%;
}
.transporting-wrapper {
   
    height: 300px;
}
.opportunity-mainul{
    display: block !important;
}
.opportunity-textul{
    display: flex;
}
.team{
    margin-top: 425px;
}
.opportunity-left-icons{
    margin-left: 40px;

}
.opportunity-main-img {
    width: 478px;
    margin-left: -10px;
}
.opportunity-main-img-logo {
    left: 131px;
}
.team-card img{
    width: 100%;
}
.card-img-top{
    height: 306px;
}
.team-card{
    width: 260px;
    height: 438px;
    margin-left: 156px;
    margin-bottom: 20px;
}
.team-icons {
    left: 81px;
}
.team-header-titel {
    margin: 0 0 5px 29px;
}
.team-header {
    margin: 10px 0 42px 33%;
}

.getinfo-wrapper {
    height: 937px;
}
.getinfo-text-wrapper {
    display: block !important;
}
.info-text {
    width: 402px;
}
.info-form input {
    width: 232px;
}
.msg-input {
    width: 485px !important;
}
.info-imgs{
    margin: 30px 0;
}
.info-imgs img {
    width: 120px;
    height: 123px;
}
.team-header {
    margin: 10px 0 42px 25%;
}
.news-main-img {
    padding: 133px 20px;
    width: 233px;
}
.news-date-img {
    padding: 133px 10px;
}
.f-main-ul{
    display: block !important;
}
.footer-text {
    height: 1023px;
}
.hero-btn{
    display: none;
}



}

/* Medium devices (tablets, less than 992px)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .p-banner-topimg img{
        width: 99% !important;
    }

    .opportunity-main-img{
        width: 191px;
    }
    .p-banner-main-li{
        width: 290px !important;
    }
    .p-banner-secondart-img {
        width: 230px;
        left: 50px;
        bottom: 43px;
    }
    .banner-icons img{
        width: 45px;
    }   
    .banner-icons h5{
        font-size: 15px;
    }   
    .card-img, .card-img-bottom, .card-img-top {
        width: 111%;
        height: 237px;
    }
    .opportunity-main-img {
        width: 394px;
        margin-left: 0;
    }
    .opportunity-textul {
        width: 126px !important;
        padding: 90px 25px;
    }
    .opportunity-main-img-logo {
        left: 88px;
    }
    .opportunity-text {
        width: 257px;
    }
    .card-img, .card-img-bottom, .card-img-top {
        width: 100%;
    }
    .team-icons {
        width: 110px;
        left: 92px;
    }
    .team-4-icons{
        padding-left: 9px !important;
    }
    .info-form input{
        width: 222px;
    }
    .msg-input{
        width: 462px !important;
    }
    .info-imgs img {
        width: 168px;
        height: 191px;
    }
    .news-main-img{
        width: 280px;
    }
    .footer-heading img {
        width: 226px;
    }
    .footer-text-ul {
        margin: 0px 26px;
    }
}

/* Large devices (desktops, less than 1200px)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .p-banner-topimg img {
        position: absolute;
        width: 99%;
        height: 400px;
    }

    .opportunity-main-img {
        margin-left: 21px;
    
}
   .opportunity-main-img-logo{
    left: 300px !important;
   }
   .team-icons {
    left: 122px;
   }
}

/* X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) { 
   
}

/* XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width




